  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="../css/stylesheet.css" />
  </head>
  <body>
  {{>header}}
  <div class="content">
    <h2>Find your Weather here</h2>
    <form>
      <input type="text" id="query" placeholder="Location"><br>
      <button type="submit" class="submit">Search</button>
      <button type="button" onclick="clearData()">Clear</button>
    </form>
    <div class="results">
      <p><br><span class="location"></span></p>
      <p><br><span class="answer"></span></p><br>
      <img class="weather-desc" >
    </div>
  </div>
  
  <script src="./js/index.js"></script>
  {{>footer}}